.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: height 2s;
}

.wrapper.collapsed {
  height: 40%;
}

.searchContainer {
  display: flex;
  flex-direction: row;
}