.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin-top: 30px;
  transition: height 2s;
  background: linear-gradient(45deg, rgba(229,182,18,1) 1%, rgba(229,88,18,1) 58%);
}

.wrapper.collapsed {
  height: 30vh;
}

.searchContainer {
  display: flex;
  flex-direction: row;
}